$base-theme:Default;
$skin-name:wp-theme-wapa;
$border-radius: 2px;
$accent: #00447c;
$info: #004c8c;
$success: #78a22f;
$warning: #fdce3e;
$error: #d51923;
$text-color: #000000;
$bg-color: #ffffff;
$base-text: #053964;
$base-bg: #e4f0fb;
$hovered-text: #ffffff;
$hovered-bg: #78a22f;
$selected-text: #f3f9fe;
$selected-bg: #053964;
$series-a: #00447c;
$series-b: #ffd246;
$series-c: #78a22f;
$series-d: #28b4c8;
$series-e: #2d73f5;
$series-f: #aa46be;
